.body{
    line-height: 2;
    font-family: 'Roboto Condensed', sans-serif;
}

.site-header{
    background-image: url("../img/header.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

.contenido-header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.site-header h1{
    color: white;
    max-width: 600px;
}

.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    
}

.navegacion a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

.navegacion a:last-of-type{
    margin: 0;
}

.navegacion a:hover{
    color: green;
}

.navegacion h1:hover{
    color: red;
}

.contenedor{
    /* max-height: 1200px; */
    max-width: 1200px;
    margin: 0 auto;   
}

.contenedor-iconos{
    display: flex;
    justify-content: space-around;
}

.icono{
    flex-basis: calc(33.3%, 10px);
    text-align: center;
}

.icono h3{
    text-transform: uppercase;
    font-size: 32px;
}

.icono h3, .icono p{
    padding-top: 0;
    padding-bottom: 0;
}

.icono p{
    margin-bottom: 30px;
    text-align: center;
    padding-right: 10px;
}

.titulo-nosotros h2{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}

/* Paul Irish box-sizing */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
  
}  

.contenedor-anuncios img{
    width: 100%;
}

.anuncio{
    flex-basis: calc(33.3% - 10px);
    background-color: #f5f5f5;
    border: 1px solid grey;
    text-align: center;
}

.contenido_anuncio h3{
    padding: 40,20;
    margin-top: 6px;
    margin-bottom: 10px;
}

.precio{
    color: #718390;
}

.boton{
    text-decoration: none;
    padding: 15px 30px;
    color:white;
    font-size: 16px;
    width: 300px;
    display: inline-block;
    text-align: center;
}

.boton-naranja{
    background-color:#E08709;
}

.comodidades{
    display: flex;
    list-style: none;
    justify-content: center;
}

.comodidades li{
    display: flex;
    justify-content: space-around;  

}

.comodidades li img{
    /* margin-right: 10px;   */
    margin-left: 20px; 
}

.anuncio a{
    margin: 0px, auto;
}